@font-face {
  font-family: 'SFProTextr';
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"), url("../fonts/SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'SFProTextr';
}

ul {
  list-style: none;
}

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
  margin: 0px;
}

a:hover, a:visited, a {
  text-decoration: none;
}

input:focus, select:focus {
  outline: 0;
}

.innerwrap {
  max-width: 768px;
  margin: 0 auto;
}

section.installprocess {
  background: #4c3f34;
  text-align: center;
  padding: 50px;
}

section.installprocess h3 {
  font-size: 21px;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 28px;
  padding: 20px 0px;
}

section.installprocess p {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 22px;
  font-weight: 400;
}

section.installprocess img {
  max-width: 150px;
}

.backbtn {
  position: absolute;
  padding: 50px;
}

.multilabletab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.multilabletab span {
  background-color: #ececec;
  display: inline-block;
  height: 4px;
  width: 50px;
  margin-right: 10px;
}

.multilabletab span.active {
  background-color: #bd8953;
}

section.nexttab {
  background: #fff7e4;
  text-align: center;
  padding: 50px 50px 150px 50px;
  position: relative;
}

section.nexttab a {
  display: block;
  padding: 20px 35px;
  color: #ffffff;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#c89659), to(#a97448));
  background: linear-gradient(180deg, #c89659 0%, #a97448 100%);
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 17px;
  width: 90%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.nexttab img {
  max-width: 100%;
}

section.installprocess.processinfo {
  background: #fff7e4;
  text-align: center;
  padding: 50px;
}

section.installprocess.processinfo h3, section.installprocess.processinfo p {
  color: #000;
}

.bg-white {
  background-color: #fff;
}

.order-infolist {
  background-color: #fff;
  padding: 50px 50px 100px 50px;
  text-align: center;
  position: relative;
}

.order-infolist h3 {
  font-size: 18px;
  line-height: 24px;
  color: #0a1f44;
  margin-bottom: 20px;
}

.order-infolist p {
  font-size: 16px;
  color: #717171;
  margin-bottom: 50px;
  letter-spacing: 0.3px;
}

.order-infolist a {
  display: block;
  padding: 20px 35px;
  color: #ffffff;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#c89659), to(#a97448));
  background: linear-gradient(180deg, #c89659 0%, #a97448 100%);
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 17px;
  width: 90%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
/*# sourceMappingURL=installationprocess.css.map */